
    <nav class="surface-overlay px-6 lg:px-3 xl:px-6 surface-border shadow-2 flex justify-content-between relative lg:static  min-w-screen" style="height : calc(0.08*100vh)" >
        <img ngSrc="assets/images/logo.png" alt="Image" width="40" height="40" priority class="mr-0 lg:mr-6 align-self-center">
        <a pRipple class="cursor-pointer block lg:hidden align-self-center text-700" pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-4xl"></i>
        </a>
        <div class="flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none">
            <ul class="list-none p-0 m-0 flex select-none flex-column lg:flex-row">
                <li>
                    <a pRipple class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150">
                        <i class="pi pi-home mr-2"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150">
                        <i class="pi pi-bookmark mr-2"></i>
                        <span>Listings</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150">
                        <i class="pi pi-calendar mr-2"></i>
                        <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150">
                        <i class="pi pi-messages mr-2"></i>
                        <span>Messages</span>
                        <span class="p-tag text-orange-500 bg-orange-100 border-circle ml-2">3</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150">
                        <i class="pi pi-cog-line mr-2"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
            <ul class="list-none p-0 m-0 flex select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none">
                <li>
                    <a pRipple class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150">
                        <i class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i>
                        <span class="block lg:hidden font-medium">Settings</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150">
                        <i class="pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0"></i>
                        <span class="block lg:hidden font-medium">Notifications</span>
                    </a>
                </li>
                <li class="border-top-1 surface-border lg:border-top-none">
                    <a pRipple class="flex px-6 p-3 h-full lg:px-3 lg:py-2 align-items-center text-600 border-left-2 lg:border-bottom-2 lg:border-left-none border-transparent hover:border-blue-500 font-medium cursor-pointer transition-colors transition-duration-150">
                        <img ngSrc="assets/images/thispersondoesnotexist.png" width="28" height="28" priority class="mr-3 lg:mr-0" style="width: 28px; height: 28px ;border-radius: 50%;"/>
                        <div class="block lg:hidden">
                            <div class="text-900 font-medium">Josephine Lillard</div>
                            <span class="text-600 font-medium text-sm">Marketing Specialist</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- <section class="surface-section px-6 py-5">
        <header class="flex w-full justify-content-between align-items-center border-bottom-1 surface-border pb-5">
            <div>
                <h2 class="mt-0 mb-3 font-medium text-2xl text-900">Listings</h2>
                <p class="mt-0 mb-0 font-normal text-base text-500">Vivamus id nisl interdum, blandit augue sit amet, eleifend mi.</p>
            </div>
            <button pButton pRipple class="p-button-outlined" label="Report Issue"></button>
        </header>
        <section class="flex flex-wrap flex-column md:flex-row md:align-items-center gap-2 py-5">
            <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" styleClass="w-full md:w-15rem" defaultLabel="Select a city" optionLabel="name" selectedItemsLabel="{0} items selected"></p-multiSelect>
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" styleClass="w-full md:w-15rem" [readonlyInput]="true" inputId="range"></p-calendar>
            <p-dropdown [options]="prices" [(ngModel)]="selectedPrice" styleClass="w-full md:w-15rem" placeholder="Select price range" optionLabel="value"></p-dropdown>
        </section>
        <img src="assets/images/blocks/maps/map-1.png" alt="Map" class="w-full border-1 surface-border border-round">
        <div class="flex w-full justify-content-center sm:justify-content-end align-items-center my-5">
            <p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
        <p-dataView #dv [value]="products" [paginator]="true" [rows]="3" layout="list" [showCurrentPageReport]="true"  [rowsPerPageOptions]="[10,25,50]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template let-product pTemplate="listItem">
                <article class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border mb-3">
                    <div class="relative">
                        <img [src]="product.image" alt="Image" class="border-round w-full h-full md:w-14rem md:h-14rem">
                        <p class="absolute px-2 py-1 border-round-lg text-sm font-normal text-white mt-0 mb-0" style="background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(10px); top: 3%; left: 3%;">Superhost</p>
                    </div>
                    <div class="flex flex-column w-full gap-3">
                        <div class="flex w-full justify-content-between align-items-center">
                            <p class="font-semibold text-lg mt-0 mb-0 mr-3">{{product.title}}</p>
                            <p-rating readonly="true" stars="5" [(ngModel)]="product.stars" [cancel]="false"></p-rating>
                        </div>
                        <p class="font-normal text-lg text-600 mt-0 mb-0">{{product.description}}</p>
                        <div class="flex flex-column md:flex-row flex-wrap md:justify-content-between mt-auto">
                            <div class="flex gap-3">
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-users mr-2"></i>
                                    <span class="font-medium">{{product.guest}}</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-wifi mr-2"></i>
                                    <span class="font-medium">{{product.speed}}</span>  
                                </p>
                                <p class="text-base flex align-items-center text-900 mt-0 mb-1">
                                    <i class="pi pi-check-circle mr-2"></i>
                                    <span class="font-medium">Verified</span>  
                                </p>
                            </div>
                            <div class="flex align-items-center">
                                <p class="font-semibold text-4xl text-900 mt-0 mb-0">{{product.price}}</p>
                                <i class="pi pi-circle-fill text-xs text-700 mx-2"></i>
                                <p class="flex align-items-center w-full text-lg text-700">9 nights</p>
                            </div>
                        </div>
                    </div>
                </article>
            </ng-template>
        </p-dataView>
    </section> -->