<div class="transition-all transition-duration-400 transition-ease-in-out">
  <div class="mb-3">
    <span class="p-input-icon-right w-full">
      <input type="text" pInputText placeholder="Pesquisar por POI ou placa" class="w-full" (input)="filterResults($event)">
      <i class="pi pi-search"></i>
    </span>
  </div>

  <p-table [value]="filteredResults" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
           currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
           [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th>ID do POI</th>
        <th>Nome do POI</th>
        <th>Placa do Veículo</th>
        <th>Tempo Total (minutos)</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{item.poiId}}</td>
        <td>{{item.poiNome}}</td>
        <td>{{item.placa}}</td>
        <td>{{item.tempoTotal}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>