<p-accordion [multiple]="true" styleClass="">
    <p-accordionTab [selected]="true" header="Table Data Vehicle">
      <div class="transition-all transition-duration-400 transition-ease-in-out">
        <div class="mb-3">
          <span class="p-input-icon-right w-full">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" class="w-full" />
          </span>
        </div>
        <div class="flex w-full justify-content-between">
          <div class="field-checkbox">
            <p-checkbox value="Alfred" inputId="alfred" [(ngModel)]="selectedBrand_1"></p-checkbox>
            <label for="alfred" class="text-900">Alfred</label>
          </div>
          <p-badge [value]="42" styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge>
        </div>
        
        <a tabindex="0" class="block cursor-pointer my-3 text-primary font-medium">Show all...</a>
      </div>
    </p-accordionTab>
  </p-accordion>