<div style="height : calc(0.84*100vh)" class="m-5">
  <div class="surface-section">
    <div class="flex flex-nowrap">
      <div class="col-fixed col-2 flex flex-column w-full lg:w-3" style="padding-top: 0px;">
        <app-date-selector class="flex-grow-1"></app-date-selector>
        <app-plate-selector class="flex-grow-1"></app-plate-selector>
      </div>
      <div class="w-full border-2 border-dashed border-round surface-border surface-section mt-3 lg:mt-0"
        style="height : calc(0.79*100vh)">
        <app-map-positions></app-map-positions>
      </div>
      <div class="col-fixed col-2 flex flex-column w-full lg:w-3" style="padding-top: 0px;">
        <app-table-data-vehicle></app-table-data-vehicle>
        <app-details-poi></app-details-poi>
      </div>
    </div>
  </div>
</div>