<div class="flex-column" style="min-height: 100vh;">
    <div class=""><div class="">
        <app-header></app-header>
        
    </div></div>
    <div class=""><div class="" style="">
        <app-list-points-of-interest></app-list-points-of-interest>

    </div></div>
    <div class=""><div class="">
        <app-footer></app-footer>

    </div></div>
</div>

<!-- <div class="surface-card">
    <div class=" mb-3"><app-header></app-header></div>
    <div class=""><app-list-points-of-interest></app-list-points-of-interest></div>
    <div class=" mt-3"><app-footer></app-footer></div>
</div> -->