 <p-card>
    <div id="data-selector" class="date-selector " >
      <div class="text-gray-400 font-medium justify-content-start mb-3">Select Date</div>
      <p-calendar 
        [(ngModel)]="selectedDate" 
        dateFormat="dd/mm/yy" 
        [showIcon]="true"
        [style]="{'width': '100%'}" 
        [inputStyleClass]="'bg-transparent text-gray-400 border-gray-400'"
        (onSelect)="onDateSelect()">
      </p-calendar>
    </div>
  </p-card> 
  <p-card header="Actions" class=" align-content-center">
    <p-button class="flex" label="Resetar Data" icon="pi pi-times" (onClick)="resetDate()"></p-button>
  </p-card>