<!-- 
@if (pointsOfInterest$ | async) {
 
        <div class="card" >
            <p-table [scrollable]="true" class="-1" scrollHeight="calc(0.84*100vh)" [value]="listPointsOfInterest" dataKey="id" [tableStyle]="{ 'min-width': '60rem'}" [expandedRowKeys]="expandedRows">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
                        <th pSortableColumn="nome">Name <p-sortIcon field="nome" /></th>
                    </tr>
                </ng-template>a
                <ng-template pTemplate="body" let-pointOfInterest let-expanded="expanded">
                    <tr>
                        <td>
                            <p-button type="button" pRipple [pRowToggler]="pointOfInterest" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                        </td>
                        <td>{{ pointOfInterest.id }}</td>
                        <td>{{ pointOfInterest.nome}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-pointOfInterest>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                    <app-map [id]="pointOfInterest.id" [latitude]="pointOfInterest.latitude" [longitude]="pointOfInterest.longitude" [radius]="pointOfInterest.raio" ></app-map>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


} 
     -->